.userList {
  flex: 6;
  margin: 5px 20px;
}
.userListUser {
  display: flex;
  align-items: center;
}
.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.userListEdit {
  color: rgb(87, 237, 117);
  cursor: pointer;
}
.userListDelete {
  color: rgb(238, 56, 56);
  cursor: pointer;
}
