.widgetSm {
  flex: 1;
  padding: 20px;
  margin-right: 20px;
}

.widgetSmTitle {
  font-size: 22px;
  font-weight: 600;
}
.widgetSmImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.widgetSmList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widgetSmListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}
.widgetSmUser {
  display: flex;
  flex-direction: column;
}
.widgetSmUsername {
  font-weight: 600;
}
.widgetSmUserTitle {
  font-weight: 300;
}
.widgetSmButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px;
  background-color: #eeeef7;
  color: #555;
  cursor: pointer;
}
